---
layout: default
---

 <p><a href="{{ site.static_url }}/midjourney/{{ page.save }}"><img src="{{ site.static_url }}/midjourney/{{ page.save }}" alt="{{ page.prompt | xml_escape }}"></a></p>
  <p><ul>
	  <li><b>Prompt:</b> "<i>{{ page.prompt | xml_escape }}</i>"</li>
	  <li><b>Seed:</b> {{ page.seed }}</li>
	  <li><b>Date:</b> {{ page.timestamp }}</li>
	  <li><b>ID:</b> <a href="https://www.midjourney.com/app/jobs/{{ page.job_id }}/">{{ page.job_id }}</a></li>
	  <li><b>Transformer:</b> <a href="https://www.midjourney.org">Midjourney<a></li>
  </ul>
  </p>